.atas {
    display: flex;
    position: sticky;
    width: 100%;
    background-color: white;
    top: 0;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
    justify-content: center;
}

.dalamcontainer {
    width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    gap: 10px;
}

.atas .logout {
    background-color: rgb(206, 88, 88);
    border-radius: 7px;
    padding: 9px;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    width: fit-content;
}

.atas button {
    padding: 8px;
    background-color: rgb(206, 88, 88);
    outline: 0;
    border: 1px solid rgb(206, 88, 88);
    ;
    border-radius: 0 7px 7px 0;
    color: white;
    cursor: pointer;

}

.atas input {
    padding: 8px;
    outline: 0;
    border: 1px solid rgb(206, 88, 88);
}

.atas .user {
    font-size: 12px;
}


@media (max-width: 1000px) {
    .dalamcontainer {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .atas .user {
        font-size: 12px;
    }
}