.container {
    display: flex;
    flex-direction: column;
}

.containerlist {
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.tableContainer {
    width: var(--max-width);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productTable {
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}

.datalength {
    background-color: red;
}

.productTable th, .productTable td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

.productTable tr {
    cursor: pointer;
}

.productTable tr:hover {
    background-color: #a594d0;
}

.productTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}


.productTable td button {
    padding: 10px;
    cursor: pointer;
}


/* .productTable td:nth-child(3) {
    width: 5px;
}

.productTable td:nth-child(2) {
    width: fit-content;
} */

.productTable td:nth-child(4) {
    width: 110px !important;
}

.productTable td svg {
    width: 110px !important;
    height: 20px;
}

.juduldetail {
    font-size: 18px;
}


.bghitam {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100dvh;
    background-color: black;
    opacity: 0.5;
}

.inputbarang {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 200;
    width: 500px;
    height: fit-content;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffff;
}

.inputbarang input {
    padding: 20px;
}

.radioGroup {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.radioGroup input[type="radio"] {
    width: 18px;
    height: 18px;
}

.inputbarang .inputkamera {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputbarang .inputkamera input {
    padding: 10px;
}

.inputbarang button {
    padding: 10px;
    cursor: pointer;
}

.inputbarang .close {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: red;
    color: white;
    font-weight: 1000;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.tambahproduct {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.scanvideo {
    position: fixed;
    top: 0;
}

.tombolscan {
    position: fixed;
    bottom: 82px;
    right: 30px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 20;
}

.buttonconfirmasi {
    padding: 0 14px !important;
    height: 30px !important;
    cursor: pointer;
}


.loading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tidakadaproduk {
    background-color: rgb(121, 42, 42);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

.fillterpendding {
    padding: 20px 0;
    display: flex;
    gap: 10px;
}

.fillterpendding span {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    height: 40px;
    padding: 0 18px;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}

.fillterpendding span:hover {
    /* opacity: 0.5; */
    background-color: rgba(32, 29, 29, 0.352);
}

.history {
    margin-bottom: 20px;
}

.history h1 {
    font-size: 20px;
}

@media (max-width: 768px) {
    .containerlist {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        justify-content: flex-start;
        flex-direction: column
    }

    .productTable {
        min-width: 500px;
    }
}

@media (max-width: 555px) {
    .inputbarang {
        width: 95%;
    }
}